.categoriesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
}

.categoryBox {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid rgba(8, 158, 245, 0.699);
  padding-top: 10px;
  box-shadow: 1px 1px 1px 2px rgb(63, 63, 63);
  text-decoration: none;
}

.exitButton {
  position: absolute;
  right: 1%;
  background: none;
  color: red;
  border: none;
}