.categoriesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.637);
  /* border-radius: 10px; */
  justify-content: center;
  padding: 10px;
  z-index: 1000;
}

.categoryBox {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: 5px;
  /* border-radius: 5px; */
  text-align: center;
  border: 2px solid rgba(8, 158, 245, 0.699);
  padding-top: 10px;
  text-decoration: none;
  transition: box-shadow 0.2s;
}

.categoryBox:hover {
  box-shadow: 5px 5px #f795c1;
  transition: box-shadow 0.2s;
}

.exitButton {
  position: absolute;
  right: 0.7%;
  background: none;
  color: rgb(254, 126, 126);
  border: none;
  font-size: large;
}

.exitButton:hover {
  cursor: pointer;
}
