.basketContainer {
    background-color: white;
    padding: 10px;
    /* border-radius: 10px; */
    border: 2px solid rgba(8, 158, 245, 0.699);
}

.basketItem {
    display: grid;
    grid-template-columns: 200px 100px 100px;
}

.Button {
    width: 50;
    height: 50;
}

.basketContainer > button, .Button > button
{
    border: none;
    padding: 5px 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.basketItem > li
{
    margin-top: auto;
    margin-bottom: auto;
}