.itemCard {
  width: 330px;
  height: 370px;
  border: 2px black solid;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 4px rgb(63, 63, 63);
  text-align: center;
}

.itemImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  height: 70%;
  border: 2px solid rgba(8, 158, 245, 0.699);
  border-radius: 8px;
}

.itemTitle {
  margin-bottom: 0%;
  padding-bottom: 5px;
}

.itemLocation {
  margin-top: 0%;
  padding-top: 2px;
}
